deluge: disable
delugevpnuser1: enable
delugevpnuser2: disable
flood: disable
plex: disable
flaresolverr: disable
jackett: disable
prowlarr: disable
sonarr: disable
radarr: disable
bazarr: disable
lidarr: disable
readarr: false
komga: disable
kavita: disable
ombi: disable
overseerr: disable
tautulli: disable
jdownloader: disable
tdarr: disable
nextcloud: enable
portainer: enable
netdata: disable
duplicati: disable
